/*Estilos Css*/

.primerparrafo {
    color: red;
}

.segundoparrafo {
    color: blue;
}

.seccion1 {
    font-weight: bold;
}

#findetexto {
    color: orange;
}

span {
    font-style: italic;
}

mark {
    background-color: palegreen;
}

abbr {
    text-decoration: none;
}

figcaption {
    color: rosybrown;
}

ul {
    list-style-type: circle;
    list-style-position: outside;
    list-style-image: url();
}

ol li {
    color: green;
    font-weight: bold;
}

section p~p {
    background-color: hotpink;
}

.primerparrafo span {
    background-color: khaki;
}

table th[colspan] {
    background-color: lightcoral;
}

blockquote {
    background-color: magenta;
}

blockquote+blockquote {
    background-color: lightsalmon;
}

p>em {
    background-color: oldlace;
}

body>p {
    background-color: olive;
}