/*Estilos Css*/


/*
.segundoparrafo{
    color:blue;
}*/


/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}*/

:root {
    --colorPrincipal: #d1a3d4;
    --colorSecundario: #501c7a;
}

p:hover:not(.deluxe) {
    background-color: white;
}

p {
    font-size: 1.4em;
}

h1 {
    font-family: 'Peachy Mochi';
    font-size: 1.6em;
    border-width: 20px;
    border-top-width: 50px;
    border-bottom-width: 20px;
    border-left-width: 5px;
    border-right-width: 15px;
    border-style: dotted;
    border-top-style: solid;
    border-bottom-style: dotted;
    border-left-style: double;
    border-right-style: dashed;
    background-color: lightcoral;
    border-color: blueviolet;
    border-left-color: brown;
    border-bottom-color: chartreuse;
    border-right-color: dodgerblue;
    border-radius: 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 200px;
}

strong {
    font-size: 1.7em;
    text-shadow: 1px 1px 0px yellow, -1px -1px 0px yellow, -1px 1px 0px yellow, 1px -1px 0px yellow;
}

html {
    /*background-color: var(--colorPrincipal);
    background-image: url(./img/foto03.png), url(./img/foto08.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center left, center right;*/
    background: /*url('./img/foto03.png') left top no-repeat,*/
    url('./img/foto08.png') center right repeat-y;
    background-color: var(--colorPrincipal);
    background-attachment: fixed;
    /*background: linear-gradient(to bottom, var(--colorPrincipal) 0%, var(--colorSecundario) 100%);*/
}

.seccion1 {
    font-weight: bold;
}

#findetexto {
    background-color: var(--colorSecundario);
}

span {
    font-style: italic;
}

mark {
    background-color: palegreen;
}

abbr {
    text-decoration: none;
}

figcaption {
    color: rosybrown;
}

ul {
    list-style-type: circle;
}

ul>li {
    list-style-image: url('./icon.png');
}

ol li {
    color: green;
    font-weight: bold;
}

section p~p {
    background-color: paleturquoise;
}

.primerparrafo span {
    background-color: purple;
}

th[colspan="2"],
th[colspan="4"] {
    background-color: royalblue;
}

blockquote~blockquote {
    background-color: salmon;
}

blockquote {
    background-color: sandybrown;
}

p>em {
    background-color: steelblue;
}

nav {
    border: solid 20px red;
    border-left-color: yellow;
    border-right-color: yellow;
    background-color: yellow;
}

body>p,
nav>p {
    background-color: thistle;
}

nav * li:nth-child(odd) {
    font-family: monospace;
}

nav * li:nth-child(even) {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section p:first-child {
    color: red;
}

section p:last-child {
    color: yellow;
}

h2:first-of-type {
    font-size: 3em;
}

section :not(p) :not(span) {
    font-size: 2em;
}

nav a:hover {
    font-size: 2em;
}

section p:active {
    background-color: yellow;
}

a:link {
    color: violet;
    text-decoration: none;
    background-color: tomato;
}

a:visited {
    color: yellow;
    text-decoration: none;
    background-color: turquoise;
}

h1::first-letter {
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
}

.seccion1::first-line {
    color: blueviolet;
    font-weight: lighter;
    font-size: larger;
}

::selection {
    color: rgb(5, 71, 71);
    background-color: rgb(0, 0, 0);
}

.cita::before {
    content: "...";
    color: deeppink;
    font-weight: bold;
    font-size: 3em;
    width: 100px;
    display: inline-block;
}

.cita::after {
    content: "---";
    color: deeppink;
    font-weight: bold;
    font-size: 3em;
    margin-left: 100px;
    display: inline-block;
}

#accidente {
    font-size: 10vw;
    width: 100%;
    background-color: yellow;
    text-align: center;
}

.segundoparrafo {
    text-shadow: -30px -10px 1px hotpink, 30px 10px 1px brown;
    box-shadow: 15px 15px 3px indigo;
    width: 90%;
    transform: scale(0.8);
    transition: transform 2s linear 0s, filter 10s 2s;
}

.segundoparrafo:hover {
    transform: scale(1);
    filter: opacity(50%);
}

.deluxe {
    /*text-align: justify;*/
    letter-spacing: 1.5pt;
    word-spacing: 3pt;
    text-align-last: center;
    text-decoration: underline;
    text-indent: 5%;
    background: linear-gradient(45deg, green 50%, orange 60%, green 70%, white 80%, red 90%, yellow 100%, red);
}

.deluxe span {
    background-color: transparent;
    color: green;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.2em;
    font-style: normal;
    font-variant: small-caps;
    text-shadow: 0px 0px 2px yellow;
}

.degradao {
    background: linear-gradient(90deg, rgba(60, 10, 200, 1) 25%, rgba(86, 200, 10, 0.3) 50%, rgba(250, 192, 0, 1) 100%);
}

.seccion1 {
    background: radial-gradient(circle at left center, rgb(200, 255, 0) 0%, #d3f 100%);
    padding: 200px;
}

.imagen1:hover {
    /*filter: blur(2px) grayscale(90%);*/
    /*filter: invert(100%);*/
    /*filter: hue-rotate(400deg)*/
    /*filter: sepia(100%)*/
    /*filter: brightness(200%)*/
    /*filter: contrast(5%);*/
    /*filter: saturate(0%);*/
    /*filter: opacity(10%);*/
    filter: drop-shadow(10px 10px red);
}

.pingu {
    border: yellow solid 3px;
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}

.pingu:hover {
    /*transform: scalex(2) scaley(0.5);*/
    /*transform: translate(100px, -300px);*/
    /*transform: skewx(45deg) skewy(90deg);*/
    /*transform: rotatez(70deg);*/
    transform: translatex(500px);
}

#animar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border: 10px solid blueviolet;
    text-align: center;
    color: white;
    background-color: black;
    animation: mianimacion 10s 0s infinite alternate linear forwards;
}

@keyframes mianimacion {
    20% {
        background-color: cadetblue;
    }
    40% {
        background-color: chartreuse;
    }
    60% {
        background-color: crimson;
    }
    80% {
        background-color: hotpink;
    }
    100% {
        background-color: gold;
    }
}

@font-face {
    font-family: 'Peachy Mochi';
    font-style: normal;
    font-weight: 400;
    src: url('./img/Peachy\ Mochi.ttf') format('truetype');
}