* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 10vh;
    background-color: orange;
    text-align: center;
    padding-top: 2vh;
}

body {
    font-size: 1.3em;
}

.caja {
    overflow: hidden;
    padding: 2vh 1vw;
    background-color: yellowgreen;
    width: 21vw;
    height: 10vh;
    float: left;
    margin: 1vh 2vw;
    border: 3px solid black;
}

.central {
    height: 25vh;
    background-color: mediumslateblue;
    overflow: hidden;
}

.contenedor {
    height: 65vh;
    background-color: teal;
    overflow: hidden;
}

.c1 {
    overflow: hidden;
    padding: 2vh 1vw;
    padding-right: 2vw;
    margin: 1% 1%;
    float: right;
    background-color: violet;
    width: 32%;
    height: 75%;
    border: 3px solid white;
}

.c2 {
    overflow: hidden;
    padding: 2vh 1vw;
    padding-right: 2vw;
    float: right;
    background-color: darksalmon;
    width: 65%;
    height: 30%;
    margin: 1% 1%;
    margin-bottom: 0;
    margin-right: 0;
    border: 3px solid white;
}

.c3 {
    overflow: hidden;
    padding: 2vh 1vw;
    padding-right: 2vw;
    background-color: indianred;
    float: right;
    width: 65%;
    height: 42%;
    margin: 1% 1%;
    margin-right: 0;
    border: 3px solid white;
}

.c4 {
    overflow: hidden;
    background-color: darkgoldenrod;
    clear: both;
    margin: auto;
    width: 85vw;
    border: 3px solid white;
    height: 10vh;
    text-align: center;
    padding-top: 3vh;
}