* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    border-radius: 50%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F7B588;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d4956a' fill-opacity='0.13'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.13'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

header {
    display: flex;
    width: 90vw;
    background-color: #F4F4CF;
    margin-left: 5vw;
    justify-content: center;
    padding-top: 10px;
}

main {
    background-color: #F4F4CF;
    width: 90vw;
    margin: 0 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

p {
    margin: 10px 30px;
    overflow: hidden;
    font-size: 1em;
}

.fila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cajaDoble {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 0 70%;
}

.perfil {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 1s linear;
}

.single {
    width: 15vw;
    min-width: 300px;
    display: flex;
    flex: 1 0 25%;
}

.full {
    background-color: #C675FA;
}

.doble {
    background-color: #FA9246;
}

.designer {
    background-color: #3EEAFA;
}

.chiquita {
    width: 130%;
}

.foto {
    width: 25%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 0px;
    transition: all 1s linear;
}

.separa {
    background-color: white;
    width: 60%;
    height: 5px;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    transform-origin: center;
    transition: all 1s linear;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    background-color: black;
    flex-wrap: wrap;
    transform: rotateX(90deg);
    transform-origin: bottom;
    transition: all 1s linear;
}

i {
    display: flex;
    font-size: 3.5em;
    padding-top: 2px;
    padding-bottom: 2px;
    transform: scale(1);
    transition: transform 0.2s linear;
    color: #11574C;
}

.encargo {
    padding-bottom: 50px;
}

.desc {
    padding-bottom: 70px;
}

i:hover {
    color: indigo;
    transform: scale(1.1);
    transition: transform 0.2s linear;
}

.perfil:hover .redes {
    transform: rotateX(0deg);
    transition: all 1s linear;
}

.perfil:hover .separa {
    transition: all 1s linear;
    transform: scale(1.5);
}

.perfil:hover .foto {
    transform: scale(1.3);
    transition: all 1s linear;
}

.perfil:hover {
    transform: scale(1.05);
    border: 2px solid black;
    transition: all 1s linear;
}