* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla';
}

nav {
    background-color: crimson;
    height: 50px;
    width: 100vw;
    min-width: 750px;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    height: 50px;
    width: 150px;
    text-align: center;
    padding-top: 13px;
}

main {
    min-width: 750px;
    background-image: url(./img/fondo.png);
    background-size: cover;
    height: calc(100vh - 50px);
    width: 100vw;
    color: white;
    text-align: center;
}

h1 {
    padding-top: 30vh;
    font-family: 'Calistoga';
    font-size: 4vw;
}

p {
    padding-top: 2.5vh;
    font-size: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

li {
    transition: background-color 0.5s linear;
    list-style: none;
    width: 150px;
    height: 50px;
    background-color: crimson;
}

.nav1 {
    display: inline-block;
    text-decoration: none;
    position: relative;
    float: left;
}

.nav1:hover .nav2 {
    display: block;
    background-color: crimson;
}

.nav2 {
    display: none;
    float: left;
    position: relative;
}

a:hover {
    background-color: #2E0404;
    transition: background-color 0.5s linear;
}

.nav2:hover .nav3 {
    display: block;
    position: relative;
    left: 150px;
    top: -50px;
}

.nav3 {
    display: none;
}

.nav3:hover .nav4 {
    display: block;
    position: relative;
    left: 150px;
    top: -50px;
}

.nav4 {
    display: none;
}